* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix{
  clear:both;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin:0 auto;
}
.flex-sect{
  background-color:#fafafa;
  padding:100px 0;
  font-family:Helvetica, serif;
}
.flex-title{
  margin-bottom:15px;
  font-size:2em;
  text-align:center;
  font-weight:700;
  color:#555;
  padding:5px;
}
.flex-desc{
  margin-bottom:55px;
  font-size:1em;
  color:rgba(0, 0, 0, 0.5);
  text-align:center;
  padding:5px;
}
.cards{
  padding:20px 0;
  display:flex;
  justify-content:space-around;
  flex-flow:wrap;
}
.card{
  background-color:white;
  height:400px;
  width:300px;
  margin-bottom:30px;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius:2px;
  transition:all 0.5s ease;
  font-weight:100;
  overflow:hidden;
}
.card:hover{
  margin-top:-5px;
  box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header{
  height:155px;
  background-image:url("python.png");
  background-size:cover;
  background-position:center center;
}
.card-header.ch2{
  background-image:url("EscapeRoom.png");
}
.card-header.ch3{
  background-image:url("robot.png");
}
.card-header.ch4{
  background-image:url("code.png");
}
.card-header.ch5{
  background-image:url("TradingSoftware.png");
}
.card-header.ch6{
  background-image:url("computer.png");
}
.card-header.ch7{
  background-image:url("snake.png");
}
.card-body{
  padding:15px 15px 5px 15px;
  color:#555;
}
.card-title{
  font-size:1.4em;
  margin-bottom:5px;
}
.card-sub-title{
  color:#b3b3b3;
  font-size:1em;
  margin-bottom:15px;
}
.card-desc{
  font-size:0.85rem;
  line-height:25px;
}
.footer-under{
  background-color:#312833;
  padding-bottom:100px;
  padding-top:100px;
  min-height:500px;
  color:#eee;
  position:relative;
  font-weight:100;
  font-family:Helvetica,serif;
}
.copyright{
  background-color:rgba(0, 0, 0, 0.15);
  color:rgba(238, 238, 238, 0.5);
  bottom:0;
  padding:1em 0;
  position:absolute;
  width:100%;
  font-size:0.75em;
}
.made-with{
  float:left;
  width:50%;
  padding:5px 0;
}
.foot-social-btns{
  display:none;
  float:right;
  width:50%;
  text-align:right;
  padding:5px 0;
}
.footer-container{
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  justify-content:space-around;
}
.foot-form-cont{
  width:300px;
  float:right;
}
.foot-form-title{
  color:rgba(255,255,255,0.75);
  font-weight:400;
  margin-bottom:10px;
  padding:0.5em 0;
  text-align:right;
  font-size:2em;
}
.foot-form-desc{
  font-size:0.8em;
  color:rgba(255,255,255,0.55);
  line-height:20px;
  text-align:right;
  margin-bottom:15px;
}
#ix5j1a{
  margin:0px 0px 0.3em;
  font-family:"Courier New", Courier, monospace;
  font-weight:400;
  line-height:1.1em;
  font-size:1.7em;
  color:rgb(254, 82, 111);
}
#iyk0r{
  color:rgba(8,0,0,0.5);
}
#iuv91{
  display:flex;
}
#i9zm4l{
  font-family:Courier New, Courier, monospace;
}
#iy47yj{
  font-family:Comic Sans MS, cursive, sans-serif;
}
#iav85i{
  justify-content:space-around;
  align-items:stretch;
}
#ist42r{
  padding:10px;
  font-family:Courier New, Courier, monospace;
  text-align:center;
  line-height:4rem;
}
#inf9w{
  align-self:stretch;
}
#icaxi{
  align-self:stretch;
}
@media (max-width: 768px){
  .foot-form-cont{
    width:400px;
  }
  .foot-form-title{
    width:autopx;
  }
}
